MARIADB_ROOT_PASSWORD=change_me
MARIADB_DATABASE=smartbancs
MARIADB_USER=smartbancs_user
MARIADB_PASSWORD=change_me

DATABASE_HOST=localhost
DATABASE_PORT=3307
DATABASE_NAME=smartbancs
DATABASE_USER=smartbancs_user
DATABASE_PASSWORD=change_me

BANCS_SERVICE_URL=http://localhost:8002